
<h2 style="color: white;">Hoşgeldiniz</h2>
<p style="color: white;">Giriş başarılı! Hoş geldiniz, Profesör @TempData["Username"] </p>
<a href="@Url.Action("takvim", "Home")">Takvim</a>

<style>
    body {
        background-image: url(/Photo/ikuGece.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
</style>