@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/Results.css" />
        <script src="https://www.gstatic.com/firebasejs/9.5.0/firebase-app.js" defer></script>
        <script src="https://www.gstatic.com/firebasejs/9.5.0/firebase-storage.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>PROJECT RESULTS</h1>
        <form id="evaluation-form">
            <div class="form-group">
                <label for="fullName">Name and Surname:</label>
                <input type="text" id="fullName" name="fullName" required>
            </div>
            <div class="form-group">
                <label for="projectName">Project Topic:</label>
                <input type="text" id="projectName" name="projectName" required>
            </div>
            <div class="form-group">
                <label for="grade">Grade:</label>
                <input type="number" id="grade" name="grade" min="0" max="100" required>
            </div>
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>
