
@{
    ViewData["Title"] = "Necessary Documents";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/NecessaryDocument.css">
</head>
    <div class="content-wrapper">

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img src="~/Photo/kepatma.jpg" alt="" class="news-card__image">
            <div class="news-card__text-wrapper">
            <h2 class="news-card__title">Project stages</h2>
                <div class="news-card__post-date">IKU - Evulation project stages</div>
                <div class="news-card__details-wrapper">
                <p class="news-card__excerpt">You can access the operational stages of the project from the link below and get detailed information.</p>
                    <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img src="~/Photo/diploma.jpg" alt="" class="news-card__image">
            <div class="news-card__text-wrapper">
            <h2 class="news-card__title">Project Report</h2>
            <div class="news-card__post-date">IKU - Evulation project report</div>
                <div class="news-card__details-wrapper">
                <p class="news-card__excerpt">You can access the report writing rules and report files of the project from the link below and get detailed information.</p>
                    <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img src="~/Photo/raporfoto.jpg" alt="" class="news-card__image">
            <div class="news-card__text-wrapper">
            <h2 class="news-card__title">IEEE Paper Format</h2>
            <div class="news-card__post-date">IKU - Evulation IEEE Paper Format</div>
                <div class="news-card__details-wrapper">
                <p class="news-card__excerpt">You can access the IEEE Paper Format files of the project from the link below and get detailed information.</p>
                    <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img src="~/Photo/projectphtoto.jpg" alt="" class="news-card__image">
            <div class="news-card__text-wrapper">
            <h2 class="news-card__title">Project Poster</h2>
            <div class="news-card__post-date">IKU - Evulation Project Poster</div>
                <div class="news-card__details-wrapper">
                <p class="news-card__excerpt">You can access the poster files of the project from the link below and get detailed information.</p>
                    <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img src="~/Photo/mezuniyetkep.jpg" alt="" class="news-card__image">
            <div class="news-card__text-wrapper">
            <h2 class="news-card__title">To be observed</h2>
            <div class="news-card__post-date">IKU - Evulation Project To be observed</div>
                <div class="news-card__details-wrapper">
                <p class="news-card__excerpt">You can access the project's audit files from the link below and get detailed information.</p>
                    <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

        <div class="news-card">
            <a href="#" class="news-card__card-link"></a>
            <img src="~/Photo/sunumfoto.jpg" alt="" class="news-card__image">
            <div class="news-card__text-wrapper">
            <h2 class="news-card__title">Evaluation Criteria</h2>
            <div class="news-card__post-date">IKU - Evaluation Criteria</div>
                <div class="news-card__details-wrapper">
                <p class="news-card__excerpt">You can access the Project's Evaluation Criteria files from the link below and get detailed information.</p>
                    <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>

    </div>
</html>